@import '../scss/variables.module.scss';

.formLayout {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 610px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}
.formLayoutMain {
  display: block;
  width: 100%;
}
.formLayoutBig {
  max-width: 100vw;
  margin: unset;
  > span {
    text-align: center;
  }
}

.formLayoutTitle {
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  margin-top: 22px;
}

.formLayoutTitleSmall {
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  margin-top: 22px;
  width: 100%;
  border-bottom: 2px solid gray;
}

@media (max-width: $md) {
  .formLayout {
    padding-bottom: 100px;
  }

  .formLayoutTitle {
    font-size: 32px;
  }
}
@media #{$mx-small} {
  .formLayout {
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 1em;
  }
}
