@import '../../scss/variables.module.scss';

.quote-wrapper {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}

.quote-form-home-inner {
  background-color: #fff;
  min-height: calc(100vh - 250px);
}

.FormIntro {
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 400;
  line-height: 34 (1.417);
  padding-bottom: 100px;
  text-align: center;
}

.FormIntroIcon {
  text-align: center;
  font-size: 24px;
  padding-top: 20px;
  color: $color-black-1;
}

.FormIntroText {
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 20px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f1f9f3+50,ffffff+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ffffff 0%, #f1f9f3 50%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffffff 0%, #f1f9f3 50%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffffff 0%, #f1f9f3 50%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 */
}

.FormIntroMiniText {
  color: $color-black-1;
  font-weight: Regular 400;
  font-size: 18px;
  line-height: 110 (6.111);
  padding-top: 40px;
  padding-bottom: 20px;
}

.StateFieldWrapper {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.CheckboxGroup {
  span {
    font-family: 'Montserrat' !important;
    font-size: 14px !important;
  }

  display: flex;
  justify-content: space-between;

  @media #{$mx-small} {
    flex-direction: column;
    width: 100%;

    .InputSmall {
      width: 100%;
      margin: 1em 0 0;
    }
  }
}

.agreementBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formCheckboxBlock {
  font-family: 'Montserrat' !important;
  font-weight: 400 !important;

  span {
    font-family: 'Montserrat' !important;
    font-weight: 400 !important;
    font-size: 14px !important;
  }

  width: 180px;
  font-size: 18px;
  border: 1px solid #e2eaf3;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.agreementText {
  font-size: 15px;
  margin: 0;
  margin-left: 1em;

  a {
    color: $newGreen;
  }
}

.effectiveDate {
  max-width: 450px;
  margin: auto;
}

@media #{$mx-small} {
  .StateFieldWrapper {
    width: 70%;
  }

  .FormIntroText {
    margin-bottom: 1em;
  }

  .formCheckboxBlock {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0 !important;
  }
}