@import '../../../../../scss/variables.module.scss';
.popupContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  p {
    @extend .fontOneRegular;
    a{
        color: #000;
    }
  }
}
.hpLogo {
  width: 260px;
  object-fit: contain;
}
