@import '../../scss/variables.module.scss';
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 17px;
}
.icon {
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 19px;
}
.iconOptionButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 15px 10px;
  width: 100%;
  background-color: #fff;
  border: 2px solid #dbdbdb;
  cursor: pointer;
  &:hover {
    background-color: #f1f1f1;
    box-shadow: 2px 2px 5px 1px #f1f1f1;
  }
}
.iconName {
  @extend .fontOneSemibold;
  margin: 0;
  font-size: 18px;
  color: #000;
}
.selected {
  border-color: #055c8e;
  color: #055c8e;
  p {
    color: #055c8e;
  }
}

@media #{$mx-large} {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media #{$mx-small} {
  .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
  }
  .iconName {
    font-size: 14px;
  }
}
