@import '../../scss/variables.module.scss';

.inputWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px 0;
  font-family: 'Montserrat', sans-serif;
}

.label {
  flex: 1;
  max-width: 100px;
  text-align: right;
  min-width: 190px;
  margin-right: 27px;
  font-size: 18px;
  letter-spacing: -1.33px;
  color: #626263;
  font-weight: 500;
}

.input {
  flex: 3;
  border-radius: $radius;
  font-size: 18px;
  box-sizing: border-box;
  min-height: 50px;
  border: 2px solid $borderGrey;
  color: #000;
  @extend .fontOneRegular;
  width: 100%;
  min-width: 200px;
  text-indent: 10px;
  background-color: white;
  appearance: none;
  background: white
    url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat
    100% center;
  background-repeat: no-repeat !important;
  background-position-x: 97%;
  background-position-y: 50%;
  padding-right: 20px;
}

.inputsmall {
  min-width: 30px;
  max-width: 50px;
  margin: 0 10px;
  flex: 1;
}
.inputmiddle {
  min-width: 194px;
  flex: 2;
}

.inputError select {
  border-color: red;
}
span.errors {
  display: flex;
  color: red;
  font-size: 0.8rem;
}
.errorInput {
  border: 2px solid red;
}
@media (max-width: $md) {
  .inputWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .label {
    text-align: center;
    margin-bottom: 5px;
  }
  .inputsmall {
    min-width: auto;
    max-width: 100%;
  }
  .inputmiddle {
    min-width: auto;
    max-width: 100%;
  }
}
@media #{$mx-small}{
  .inputWrapper{
    align-items: flex-start;
  }
}