.resetPasswordInputs {
  padding: 40px 0;
  > div {
    margin: 22px 0;
  }
}

.resetPasswordButton {
  button {
    width: 100%;
    text-align: center;
    justify-content: center;
    height: 50px;
  }
}
