@import '../../../../../../components/scss/variables.module.scss';

.errorClass {
  color: red;
}

.modalTitle {
  font-family: 'Montserrat';
  color: #1a1919;
  font-size: 36px;
  letter-spacing: -1.5px;
  line-height: 24px;

  @media (max-width: $md) {
    font-size: 18px;
    letter-spacing: -0.75px;
    line-height: 22px;
    padding-top: 20px;
  }
}

.line {
  height: 1px;
  background-color: #dbdbdb;
}

.emojiRate {
  display: flex;
  height: auto;
  width: 70%;
  justify-content: space-between;
  margin-top: 20px;
  .emojiContainer {
    label {
      width: 80px;
      text-align: center;
      font-size: 14px;
      margin-top: 5px;
      color: $color-black-1;
    }
    .emoji {
      width: 80px;
      height: 80px;
      border-radius: 50px;
      border: 1px solid #99aab5;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.5;

      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }

      &:hover {
        border: 2px solid #99aab5;
        opacity: 1;
        img {
          height: 60px;
          width: 60px;
          border-radius: 50%;
        }
      }
    }

    .emojiActive {
      width: 80px;
      height: 80px;
      border-radius: 50px;
      border: 2px solid #99aab5;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
      }
    }
  }
}

.inputDiv {
  margin-top: 38px;
  margin-bottom: 38px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: 'Montserrat';

  @media (max-width: $md) {
    justify-content: flex-start;
    margin-bottom: 17px;
    width: 100%;
  }
  .fontBold {
    font-weight: 600;
  }
  label {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 18px;
    width: auto;
    display: inline-block;
    white-space: wrap;
    margin-right: 16px;
    padding-bottom: 10px;

    @media (max-width: $md) {
      width: 100%;
      max-width: 362px;
      text-align: left;
      font-size: 12px;
      letter-spacing: -0.67px;
      line-height: 14px;
      margin-right: 0px;
    }
  }
}

.dialogContentContainer {
  padding-top: 0 !important;
  padding-bottom: 50px !important;
}

.footer {
  background-color: #fafafa;
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .cancelCont {
    font-family: 'Montserrat';
    width: 50px;
    color: $color-black-1;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    padding-left: 10px;
    cursor: pointer;
  }
  .submitBtn {
    @extend .reusableButton;
    @extend .shadow;
    width: 265px;
    height: 50px;
    margin: 2em 0 0;
    margin-top: 12px;
    background-color: #0b9975;
  }
}

.inputCont {
  width: 250px;
  margin: 0;
  padding: 2px;
  border: 2px solid $softGreen;
  display: flex;

  @media (max-width: $md) {
    margin-top: 8px;
    width: 250px;
  }

  @media (max-width: $sm) {
    width: 200px;
  }
}

.inputContGroup {
  border: none !important;
  flex: 1;
}

.inputContSelected {
  background-color: $softGreen !important;
  span {
    color: white;
  }
}

.inputContLabel {
  color: black;
}

.inputSelect {
  border: 1px solid transparentize($color: $softGrey, $amount: 0.7);
  min-width: 400px;
  @media (max-width: $md) {
    margin-top: 8px;
    min-width: 200px;
  }
}

input.reviewInput {
  height: 32px;
  width: 358px;
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #808080;
  padding: 0;
  text-indent: 10px;
  font-family: 'Montserrat';

  @media (max-width: $md) {
    width: 100%;
    padding-left: 0px;
  }
}

.dialogTitle {
  display: flex;
  justify-content: flex-start;
  padding-top: 40px !important;
  padding-bottom: 10px !important;
  color: $color-black-1;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;

  @media (max-width: $md) {
    padding-top: 57px !important;
    padding-bottom: 22px !important;
  }

  h2 {
    @media (max-width: $md) {
      max-width: 400px;
      text-align: flex-start;
    }
  }
}

.textAreaCont {
  width: 70%;
  margin: 0;
  // margin-top: 4px;

  @media (max-width: $md) {
    width: 100%;
  }
}

textarea.reviewTextArea {
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid transparentize($color: $softGrey, $amount: 0.7);
  resize: none;
  text-indent: 10px;
  font-family: 'Montserrat';

  @media (max-width: $md) {
    margin-top: 8px;
    width: calc(100% - 14px);
  }
}

.rateContainer {
  width: 450px;
  display: flex;
  flex-direction: column;
  @media (max-width: $md) {
    width: calc(100% - 14px);
    div {
      padding: 0px;
    }
  }
}

.rateContainerInner {
  display: flex;

  div {
    background-color: $softerGreen;
    border-radius: 2px !important;
    margin: 5px;
    padding: 3px;

    span {
      color: $softGreen !important;
    }
  }

  @media (max-width: $md) {
    justify-content: flex-start;
    margin-top: 10px;
    div {
      padding: 0px;
    }
  }

  @media (max-width: $sm) {
    div {
      height: 25px;
      margin: 1px;
      span {
        font-size: 12px;
      }
    }
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29px;
    border-radius: 50%;
    color: #fff;
    width: 29px;
    cursor: pointer;

    &.selectedRate {
      background: #00bf91;

      span {
        color: #fff !important;
      }
    }

    span {
      color: #818187;
      font-family: 'Montserrat';
      font-size: 16px;
      letter-spacing: -1px;
      line-height: 29px;
    }
  }
}
