@import '../variables.module.scss';

.root {
  span {
    @extend .fontOneRegular;
    font-size: 30px;
    letter-spacing: -1px;
    color: $softGrey;

    &:last-child {
      color: $softGreen;
    }
  }
}

@media (max-width: $md) {
  .root {
    width: 100%;
    text-align: center;
    span {
      font-size: 18px;
    }
  }
}
