/* The switch - the box around the slider */
.switchLabel {
  position: relative;
  display: inline-block;
  width: 96px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switchLabel input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #818187;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #00ad84;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(62px);
  -ms-transform: translateX(62px);
  transform: translateX(62px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchWrapper {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-family: 'Montserrat', sans-serif;
}

.label {
  flex: 1;
  max-width: 100px;
  text-align: right;
  min-width: 190px;
  margin-right: 27px;
  font-size: 18px;
  letter-spacing: -0.3px;
  color: #626263;
  font-weight: 500;
}

.switchElementWrapper {
  min-width: 190px;
}
