.bg {
  background-color: #eee;
}

.fluidContainer {
  max-width: none !important;
}

.pt4 {
  padding-top: 4rem;
}

.pb4 {
  padding-bottom: 4rem;
}

.pv4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.ph20 {
  padding-left: 6% !important;
  padding-right: 6% !important;
}
