@import '../variables.module.scss';
.carrierTemplateTitle {
  text-align: center;
}
.prosConsContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 2em 0 0;
}
.prosConsPaper {
  min-height: 348px;
  width: 416px;
  align-items: flex-start;
  justify-content: flex-start;
}
.prosConsTitle {
  @extend .fontOneBold;
  font-size: 24px;
}
.text {
  margin: 0 0 1em;
}
